layout {
    swap_tiled_layout name="vertical" {
           tab max_panes=5 {
               pane split_direction="vertical" {
                   pane
                   pane { children; }
               }
           }
           tab max_panes=8 {
               pane split_direction="vertical" {
                   pane { children; }
                   pane { pane; pane; pane; pane; }
               }
           }
           tab max_panes=12 {
               pane split_direction="vertical" {
                   pane { children; }
                   pane { pane; pane; pane; pane; }
                   pane { pane; pane; pane; pane; }
               }
           }
    }
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="file:~/bin/zjstatus.wasm" {
                format_left   "{mode} #[fg=#89B4FA,bold]{tabs}"
                format_center "#[fg=#2e2e2e,bold]{session}"
                format_right  "{command_mem} #[bg=#101010,fg=#eee8d5]#[bg=#eee8d5,fg=#101010]USER #[bg=#2e2e2e,fg=#ced4df] {command_user}@{command_host}#[bg=#101010,fg=#2e2e2e] {datetime}"
                format_space  ""
                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=#2e2e2e]{char}"
                border_position "bottom"

                mode_normal  "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]NORMAL#[bg=#101010,fg=#6484a4]"
                mode_locked  "#[bg=#101010,fg=#2e2e2e]#[bg=#2e2e2e,fg=#D83230]LOCKED#[bg=#101010,fg=#2e2e2e]"
                mode_resize  "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]RESIZE#[bg=#101010,fg=#6484a4]"
                mode_pane "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]PANE#[bg=#101010,fg=#6484a4]"
                mode_tab "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]TAB#[bg=#101010,fg=#6484a4]"
                mode_scroll "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]SCROLL#[bg=#101010,fg=#6484a4]"
                mode_enter_search "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]ENTER SEARCH#[bg=#101010,fg=#6484a4]"
                mode_search "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]SEARCH#[bg=#101010,fg=#6484a4]"
                mode_rename_tab "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]RENAME TAB#[bg=#101010,fg=#6484a4]"
                mode_rename_pane "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]RENAME PANE#[bg=#101010,fg=#6484a4]"
                mode_session "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]SESSION#[bg=#101010,fg=#6484a4]"
                mode_move "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]MOVE#[bg=#101010,fg=#6484a4]"
                mode_prompt "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]PROMPT#[bg=#101010,fg=#6484a4]"
                mode_tmux  "#[bg=#101010,fg=#6484a4]#[bg=#6484a4]TMUX#[bg=#101010,fg=#6484a4]"
 
                tab_normal   "#[bg=#101010,fg=#424242]#[fg=#ced4df,bg=#424242,bold]{index} #[bg=#2e2e2e,fg=#ced4df] {name}#[bg=#101010,fg=#2e2e2e] "
                tab_active   "#[bg=#101010,fg=#eee8d5]#[fg=#101010,bg=#eee8d5,bold]{index} #[bg=#2e2e2e,fg=#ced4df] {name}#[bg=#101010,fg=#2e2e2e] "
 
                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
 
                datetime        "#[fg=#6C7086,bold] {format} "
                datetime   "#[bg=#101010,fg=#eee8d5]#[fg=#101010,bg=#eee8d5,bold]DATETIME #[bg=#2e2e2e,fg=#ced4df] {format}#[bg=#101010,fg=#2e2e2e] "
                datetime_format "%Y-%m-%d %H:%M"
                datetime_timezone "Europe/Tallinn"

                command_user_command  "whoami"
                command_user_format  "{stdout}"
                command_user_interval  "0"
                command_user_rendermode  "static"

                command_host_command  "uname -n"
                command_host_format  "{stdout}"
                command_host_interval  "0"
                command_host_rendermode  "static"

                command_mem_command "bash -c /home/zilq/bin/mem.sh"
                command_mem_format "#[bg=#101010,fg=#eee8d5]#[bg=#eee8d5,fg=#101010]MEM #[bg=#2e2e2e,fg=#ced4df] {stdout}#[bg=#101010,fg=#2e2e2e]"
                command_mem_interval  "5"
                command_mem_rendermode  "static"
            }
        }
       children
    }
}
