layout {
    swap_tiled_layout name="vertical" {
        tab max_panes=5 {
            pane split_direction="vertical" {
                pane
                pane { children; }
            }
        }
        tab max_panes=8 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
                pane { pane; pane; pane; pane; }
            }
        }
    }
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="file:~/bin/zjstatus.wasm" {
                format_left   "{mode} {tabs}"
                format_center "#[bg=$bg,fg=$info_key_pill_bg]#[bg=$info_key_pill_bg,fg=$info_key_pill_fg]SSN #[bg=$info_val_pill_bg,fg=$info_val_pill_fg] {session}#[bg=$bg,fg=$info_val_pill_bg] {command_player}"
                format_right  "{command_timew} {command_uptime} {command_mem} #[bg=$bg,fg=$info_key_pill_bg]#[bg=$info_key_pill_bg,fg=$info_key_pill_fg]USR #[bg=$info_val_pill_bg,fg=$info_val_pill_fg] {command_user}@{command_host}#[bg=$bg,fg=$info_val_pill_bg] {datetime}"
                format_space  ""
                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=$border]{char}"
                border_position "bottom"

                mode_normal  "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]NORMAL#[bg=$bg,fg=$mode_pill_bg]"
                mode_locked  "#[bg=$bg,fg=$mode_locked_pill_bg]#[bg=$mode_locked_pill_bg,fg=$mode_locked_pill_fg]LOCKED#[bg=$bg,fg=$mode_locked_pill_bg]"
                mode_resize  "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]RESIZE#[bg=$bg,fg=$mode_pill_bg]"
                mode_pane "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]PANE#[bg=$bg,fg=$mode_pill_bg]"
                mode_tab "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]TAB#[bg=$bg,fg=$mode_pill_bg]"
                mode_scroll "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]SCROLL#[bg=$bg,fg=$mode_pill_bg]"
                mode_enter_search "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]ENTER SEARCH#[bg=$bg,fg=$mode_pill_bg]"
                mode_search "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]SEARCH#[bg=$bg,fg=$mode_pill_bg]"
                mode_rename_tab "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]RENAME TAB#[bg=$bg,fg=$mode_pill_bg]"
                mode_rename_pane "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]RENAME PANE#[bg=$bg,fg=$mode_pill_bg]"
                mode_session "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]SESSION#[bg=$bg,fg=$mode_pill_bg]"
                mode_move "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]MOVE#[bg=$bg,fg=$mode_pill_bg]"
                mode_prompt "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]PROMPT#[bg=$bg,fg=$mode_pill_bg]"
                mode_tmux  "#[bg=$bg,fg=$mode_pill_bg]#[bg=$mode_pill_bg]TMUX#[bg=$bg,fg=$mode_pill_bg]"

                tab_active   "#[bg=$bg,fg=$tab_active_index_bg]#[fg=$tab_active_index_fg,bg=$tab_active_index_bg,bold]{index} #[bg=$tab_active_name_bg,fg=$tab_active_name_fg] {name}#[bg=$bg,fg=$tab_active_name_bg] "
                tab_normal   "#[bg=$bg,fg=$tab_normal_index_bg]#[fg=$tab_normal_index_fg,bg=$tab_normal_index_bg,bold]{index} #[bg=$tab_normal_name_bg,fg=$tab_normal_name_fg] {name}#[bg=$bg,fg=$tab_normal_name_bg] "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime "#[bg=$bg,fg=$info_key_pill_bg]#[bg=$info_key_pill_bg,fg=$info_key_pill_fg]CLK #[bg=$info_val_pill_bg,fg=$info_val_pill_fg] {format}#[bg=$bg,fg=$info_val_pill_bg]"
                datetime_format "%Y-%m-%d %H:%M"
                datetime_timezone "Europe/Tallinn"

                command_user_command  "whoami"
                command_user_format  "{stdout}"
                command_user_interval  "0"
                command_user_rendermode  "static"

                command_host_command  "uname -n"
                command_host_format  "{stdout}"
                command_host_interval  "0"
                command_host_rendermode  "static"

                command_mem_command "bash -c /home/zilq/bin/mem.sh"
                command_mem_format "#[bg=$bg,fg=$info_key_pill_bg]#[bg=$info_key_pill_bg,fg=$info_key_pill_fg]MEM #[bg=$info_val_pill_bg,fg=$info_val_pill_fg] {stdout}#[bg=$bg,fg=$info_val_pill_bg]"
                command_mem_interval  "5"
                command_mem_rendermode  "static"

                command_uptime_command "bash -c /home/zilq/bin/uptime.sh"
                command_uptime_format "#[bg=$bg,fg=$info_key_pill_bg]#[bg=$info_key_pill_bg,fg=$info_key_pill_fg]UP #[bg=$info_val_pill_bg,fg=$info_val_pill_fg] {stdout}#[bg=$bg,fg=$info_val_pill_bg]"
                command_uptime_interval  "60"
                command_uptime_rendermode  "static"

                command_player_command "bash -c /home/zilq/bin/spotify-status.sh"
                command_player_format "#[bg=$bg,fg=$info_key_pill_bg]#[bg=$info_key_pill_bg,fg=$info_key_pill_fg]PLR #[bg=$info_val_pill_bg,fg=$info_val_pill_fg] {stdout}#[bg=$bg,fg=$info_val_pill_bg]"
                command_player_interval  "5"
                command_player_rendermode  "static"

                command_timew_command "bash -c /home/zilq/bin/timew_status.sh"
                command_timew_format "#[bg=$bg,fg=$info_key_pill_bg]#[bg=$info_key_pill_bg,fg=$info_key_pill_fg]TW #[bg=$info_val_pill_bg,fg=$info_val_pill_fg] {stdout}#[bg=$bg,fg=$info_val_pill_bg]"
                command_timew_interval  "5"
                command_timew_rendermode  "static"

                color_info_key_pill_bg "#677777"
                color_info_key_pill_fg "#242424"
                color_info_val_pill_bg "#2e2e2e"
                color_info_val_pill_fg "#ced4df"
                color_bg "#101010"
                color_mode_pill_bg "#6484a4"
                color_mode_locked_pill_bg "#2e2e2e"
                color_mode_locked_pill_fg "#D83230"
                color_border "#2e2e2e"
                color_tab_active_index_bg "#eee8d5"
                color_tab_active_index_fg "#101010"
                color_tab_active_name_bg "#2e2e2e"
                color_tab_active_name_fg "#ced4df"
                color_tab_normal_index_fg "#ced4df"
                color_tab_normal_index_bg "#424242"
                color_tab_normal_name_bg "#2e2e2e"
                color_tab_normal_name_fg "#ced4df"
            }
        }
        children
    }
}
