tabbar {
    background-color: #000000;
}

tabbar tabbox {
    padding: 0px;
    font-family: monospace;
    max-height: 15px;
    min-height: 15px;
    height: 15px;
}

separator.vertical {
    background-color: #2e2e2e;
    width: 1px;
}

tabbar tabbox tabboxchild {
    border-radius: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

tabbar tabbox tab {
    border-radius: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

tabbar tabbox > tabboxchild > tab {
    color: #606060;
    background-color: #000000;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-color: #000000;
}

tabbar tabbox > tabboxchild > tab:selected {
    color: #bfc5d0;
    background-color: #101010;
    border-color: #2e2e2e;
}

tabbar tabbox tab label {
    font-size: 14px;
}

